


/* encabezado*/

#pic{
	background-color:red;
}

#nombre{
	background-color: pink;
}

.nombre{
			margin-top: 10%;
}
#contacto{
	background-color: green;

}







/* estilo de foto perfil*/

#perfil{
	 border-radius: 107px;
	 


}


/*
 contacto
*/
.no{
 	list-style: none;

 	}

 .lista{
 	margin-top: 10%; 
 }

/* fin contacto */



.titulo-seccion{
	margin-top: 11px;
}
/* fin enc */


/* sector laboral*/
#laboral{
	background: lightgreen;
}

.empresa{
	background-color: lightgray;
	padding: 1.5% 0 0.008% 1.5%;
	margin-bottom: 2%;
}
.a{
	margin: 1.5% 0 0.5% 0;
}

/* fin laboral */
#educacion{
	background: lightblue;
}




/*sector habilidades*/

#habilidades{
	margin: 2% 0 2% 0;
}

/*fin habilidades*/

@media (min-width: 576px) { 

	 


}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
	
	

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {  }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { }