body{
	color: rgba(0, 0, 0, 0.8);
	 background-image: url(../images/wall.png);
	 background-repeat: no-repeat;
    background-size: cover;

}


/*#bg:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 140%;
    opacity : 0.9;
    z-index: -1;
}*/
/* encabezado*/

.card{
	background-color:  rgba(255, 255, 255, 0.2);
	color: black;
	border-radius: 10px;
	margin-top: 5px;
}




/* estilo de foto perfil*/

#perfil{
	width: 62%;
	border-radius: 243px;
}


/*
 contacto
*/
.no{
 	list-style: none;
 	color: rgba(0, 0, 0, 0.6);

 	}

 .texto{
 	color: rgba(0, 0, 34, 0.5);
 }
/* fin contacto */



.titulo-seccion{
	margin-top: 11px;
}
/* fin enc */


/* sector laboral*/
#laboral{
	background: ;
}

.empresa, .curso{
	background-color: rgba(47, 40, 127, 0.1);
	padding: 1.5% 0 0.008% 1.5%;
	margin-bottom: 2%;
}
.a{
	margin: 1.5% 0 0.5% 0;
}

/* fin laboral */
#educacion{
	background: ;
}

.logo{
	width: 90%;
}


/*sector habilidades*/

#habilidades{
	margin: 2% 0 2% 0;
}

/*fin habilidades*/

@media (min-width: 576px) { 
	#perfil{
		width: 76%;

	} 

	 .nombre{
			margin-top: 10%;
	}

	.empresa, .curso{
	background-color: rgba(47, 40, 127, 0.2);
	}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
		#perfil{
			width: 123%;

		} 
	
		.nombre{
				margin-top: 6%;
		}
		.empresa, .curso{
		background-color: rgba(47, 40, 127, 0.2);
		}

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {  
	#perfil{
		width: 95%;

	} 
	.nombre{
				margin-top: 5%;
	}
	.empresa, .curso{
		background-color: rgba(47, 40, 127, 0.2);
		}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	#perfil{
		width: 76%;


	} 
	.nombre{
		margin-top: 3%;
	}
	.empresa, .curso{
		background-color: rgba(47, 40, 127, 0.2);
		}
}