body{
	color: rgba(0, 0, 0, 0.6);
}


#bg:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/wall.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200%;
    opacity : 0.7;
    z-index: -1;
}

/* encabezado*/

#pic{
	
}

#nombre{
	
}


#contacto{
	

}


.card{
	background-color:  rgba(255, 255, 255, 0.3);
	color: black;
	border-radius: 10px;
	margin-top: 5px;
}




/* estilo de foto perfil*/

#perfil{
	 border-radius: 107px;
	

}


/*
 contacto
*/
.no{
 	list-style: none;
 	color: rgba(0, 0, 0, 0.6);

 	}

 
/* fin contacto */



.titulo-seccion{
	margin-top: 11px;
}
/* fin enc */


/* sector laboral*/
#laboral{
	background: ;
}

.empresa, .curso{
	background-color: rgba(47, 44, 44, 0.3);
	padding: 1.5% 0 0.008% 1.5%;
	margin-bottom: 2%;
}
.a{
	margin: 1.5% 0 0.5% 0;
}

/* fin laboral */
#educacion{
	background: ;
}

.logo{
	width: 90%;
}


/*sector habilidades*/

#habilidades{
	margin: 2% 0 2% 0;
}

/*fin habilidades*/

@media (min-width: 576px) { 

	 .nombre{
			margin-top: 10%;
	}


}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
	
		.nombre{
				margin-top: 6%;
	}

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {  
	.nombre{
				margin-top: 5%;
	}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
	.nombre{
				margin-top: 3%;
	}
}